<h1> Welcome to Sinatra Title Case</h1>
<form action ="/title">
  <div class="form-group">
    <label for="title">Title case this word!:</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="button_success">GO!</button>
</form>
